node_modules/*
uploads/*
key/*
config/config.js
storage/*
.vscode/*
.*.swp
*~
Thumbs.db
*.log
nbproject/
/.sonar*
scss/*

npm-debug.log*
frontend/public/images/currencyimage/*


jwt-data*
jwt-data.tmp*
tests

