<div class="animated fadeIn">
 
    <!-- <h1 class="page-title">{{vm.pageHeading}} KYC</h1> -->
    
     <div class="card">
       <div class="card-header"><h4>{{vm.pageHeading}} KYC</h4></div>
       
       <div class="card-body">
        
           
        <form autocomplete="off" ng-submit="vm.id ? vm.update() : vm.add()" name="vm.form" enctype="multipart/form-data" novalidate>                                    
            <div class="form-group">
                <label for="exampleInputPassword1">Country</label>
                <sup class="text-danger">*</sup>
                <select name="country" required ng-options="option.name for option in vm.CountryList track by option.id" class="form-control" ng-selected="vm.country" ng-model="vm.country">                                                                                             
                <option value="" style="display: none">Please select country</option>        
                </select>   
                 <p class="error-msg" ng-if="vm.form.country.$error.required && vm.form.$submitted">Please select country</p>                                          
            </div> 
            <div class="form-group">
                <label for="exampleInputPassword1">Type</label>
                <sup class="text-danger">*</sup>                                
                <select name="type"  required ng-options="option.name for option in vm.kycMasterType track by option.id" class="form-control" ng-selected="vm.kyc_master_type" ng-model="vm.kyc_master_type">                                                                                             
                <option value="" style="display: none">Please Select type</option>        
                </select>    
                 <p class="error-msg" ng-if="vm.form.type.$error.required && vm.form.$submitted">Please select type</p>                                         
            </div> 
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <sup class="text-danger">*</sup>
                <input type="text" class="form-control" name="name" required  ng-model="vm.name" aria-describedby="emailHelp" placeholder="Enter Name. eg : Id Proof , Address Proof" pattern="^[ a-zA-Z]*$">  
                <p class="error-msg" ng-if="vm.form.name.$error.required && vm.form.$submitted">Please enter name</p>
                <p class="error-msg" ng-if="vm.form.name.$error.pattern && vm.form.$submitted">Please enter valid name</p>                                          
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Icon Name</label>                                
                <input type="text" class="form-control" name="icon_name"  ng-model="vm.icon_name" aria-describedby="emailHelp" placeholder="Enter Icon Name" pattern="^[_ a-zA-Z]*$">    
                <p class="error-msg" ng-if="vm.form.icon_name.$error.required && vm.form.$submitted">Please enter icon name</p>
                <p class="error-msg" ng-if="vm.form.icon_name.$error.pattern && vm.form.$submitted">Please enter valid icon name</p>                                          
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Status</label>
                <sup class="text-danger">*</sup>
                 <select name="status" required ng-options="option.name for option in vm.Status track by option.id" class="form-control" ng-selected="vm.status" ng-model="vm.status">                                                                                             
                    <option value="" style="display: none">Please select status</option>        
                </select>   
                <p class="error-msg" ng-if="vm.form.status.$error.required && vm.form.$submitted">Please select status</p>                                          
            </div>                               
            <input type="hidden" ng-model="vm.id" />
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" ng-click="vm.cancel()" class="btn btn-secondary">Cancel</button>
        </form>
        
         </div>
    </div>
</div>
   