<div class="site-content" ng-cloak>
            <div class="widget site-content-widget">
                <header class="widget-header block-element text-center">
                    <h2 class="widget-title big-title">Provide information about your card</h2>
                    <p>You can use any Visa/MasterCard issued in any currency</p>
                </header>
                <div class="widget-body">
                    <div class="widget card-payment-widget">
                        <div class="widget-icon">
                            <span style="display:inline-block; margin-right:10px;"><img src="images/payment_method_card_visa-512.png" class="img-responsive" style="width:50px;"/></span>
                            <span style="display:inline-block;"><img src="images/payment_method_master_card-512.png" class="img-responsive" style="width:50px;"></span>
                        </div>
                        <div class="widget-body">
                        <form class="form">
                            <div class="form-group">
                                    <label class="form-control-label" for="first_name">Card Number</label>
                                    <input class="form-control" id="first_name" type="text" class="validate">
                            </div>
                                <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label class="form-control-label" for="first_name">Cardholder's Name</label>
                                    <input class="form-control" id="first_name" type="text" class="validate">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label class="form-control-label" for="first_name">Expiry date</label>
                                    <input class="form-control" id="first_name" type="text" class="validate">
                                </div>
                            </div>
                            <div class="form-group">  
                        <span class="btn btn-primary">Proceed</span>
                </div>
                        </form>
                    </div>
                    </div>
                    
                </div>
            </div>
</div>