<div class="text-page">
    <div class="section">
        <div class="container">
            <!-- logo -->
            <div class="row">
                <div class="col-12 text-center">
                    <p>Your email has been verified.
                        <br/>
                        <!-- You can verify your email from 'My Profile' section in Dashboard Settings.  -->
                    </p>
                </div>
            </div>
            <!-- #reset-password-form -->
        </div>
        <!-- /.simple-page-content -->
    </div>
    <!-- .simple-page-wrap -->
</div>