<!-- Modal Header -->
<div class="modal-header">
    <h4 class="modal-title">KYC Reminder</h4>
    <button type="button" class="close" ng-click="cancelConfig();">&times;</button>
</div>
<div class="modal-body text-center d-flex align-items-center justify-content-center">
    <div class="tab-pane-content">
        <br />
        <br />
        <p>Please Complete Your KYC to have Full Access on Fuleex Exchange.</p>
        <p>请完成提交您的KYC，以便能完全访问 Fuleex 交易所</p>
    </div>
</div>
<div class="modal-footer justify-content-end">
    <button type="button" class="btn btn-primary marL10 tab-wizard-btn" ng-click="cancelConfig();">Cancel</button>
</div>