
     <h1 class="dashboard-main-heading">KYC</h1>
 
                <div class="card">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-6">KYC Verification</div>
                        <div class="col-6 text-right"><a ui-sref="dashboard.userProfile">Go to Profile</a></div>
                      </div>
                    </div>
                    <div class="card-body tab-navigation">
                        <div id="idensic">
                            
                        </div>
                    </div>

                    </div>
                <!-- Transaction History Card -->
