<div class="modal-header">
    <h3 class="modal-title">Cancel Order</h3>
    <button type="button" class="close" ng-click="dismissCancelOrder()">×</button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
         Are you sure you want to cancel this order ?
        </div>
    </div>
</div>
<div class="modal-footer ">
	<button class="btn btn-outline-primary" type="button" ng-click="dismissCancelOrder()">NO</button>
    <button class="btn btn-primary" type="button" ng-click="cancelActiveOrder()">YES</button>
</div>