<div class="text-page">

        <div class="section">
            <div class="container">
                <!-- logo -->
                <div class="row">
                    <div class="col-12 text-center">
                    <h6 class="section-heading">Forgot Your Password ?</h6>
                    <p>We have received your request. If your email exists, you will get a confirmation email to reset login password. </p>

                </div>
                </div>
                <!-- #reset-password-form -->
            </div>
            <!-- /.simple-page-content -->
        </div>
        <!-- .simple-page-wrap -->
    </div>
