<div class="text-page">

    <div class="section">
        <div class="container">
            <!-- logo -->
            <div class="row">
                <div class="col-12 text-center successfully-cls">
                <h6 class="section-heading">You Are Registered.</h6>
                <p>Thank You For Registering On Fuleex.  </p>
                <p>Confirm Via Email By Clicking The Verification Link Sent To<br> Your <br> Registered Email Address.</p>
            </div>
            </div>
            <!-- #reset-password-form -->
        </div>
        <!-- /.simple-page-content -->
    </div>
    <!-- .simple-page-wrap -->
</div>