<div class="text-page">

        <div class="section">
            <div class="container">
                <!-- logo -->
                <div class="row">
                    <div class="col-12 text-center verified-section">
                    <h6 class="section-heading">Congratulations!</h6>
					<h6 class="successfully-cls section-heading">Email Verified.</h6>
                    <p> Your Email Has Been Verified. This email will be used in our future <br>communications with you.</p>
                    <p>Click Here To <a  class="link main-a" ui-sref="app" ><strong>LOGIN and START</strong> </a>Trading Now. </p>
               <!--      <p class="heading-k-v text-center">Click <a ui-sref="auth" class="link">Here</a> to generate 2FA or <a ui-sref="login" class="link">Login </a> to the application .</p> -->
			   <p><span>Should you have any queries, please feel free to contact us at <a href="mailto:info@fuleex.io">info@fuleex.io</a></span></p>
                </div>
                </div>
                <!-- #reset-password-form -->
            </div>
            <!-- /.simple-page-content -->
        </div>
        <!-- .simple-page-wrap -->
</div>
