<div class="container-center">
    <div class="panel panel-bd">
        <div class="panel-heading">
            <div class="view-header">
                <div class="header-icon">
                    <i class="pe-7s-unlock"></i>
                </div>
                <div class="header-title">
                    <h3>Administrator Login</h3>
                    <small><strong>Please enter your credentials to login.</strong></small>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="vm.loginForm1" autocomplete="off" ng-submit="vm.adminLogin(vm.getAdminUser);">
                <div class="form-group">
                    <label for="email" class="">Email<span class="asterik">*</span></label>
                    <input type="email" class="form-control" name="email" placeholder="Email Address" required ng-model="vm.getAdminUser.email" autofocus autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">Password<span class="asterik">*</span></label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required ng-model="vm.getAdminUser.password">
                </div>
                <div class="row">
                    <div class="col-xs-12 padding-left-none">
                        <button type="submit" class="btn orange-btn btn-block btn-success">
                            Login
                        </button>
                    </div>
                    <!--  <div class="col-xs-6 padding-right-none">
                        <button type="button" class="btn gray-btn btn-block btn-secondary" ng-click="vm.cancel();">
                            Cancel
                        </button>
                    </div> -->
                </div>
                <div class="row text-center" style="margin-top:10px;">
                    <div class="col-xs-12">
                        <p><a ui-sref="">FORGOT YOUR PASSWORD ?</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>