<div class="animated fadeIn">
 
        <!-- <h1 class="page-title">{{vm.pageHeading}} Country</h1> -->
        
         <div class="card">
           <div class="card-header"><h4>{{vm.pageHeading}} Country</h4></div>
           
           <div class="card-body">
            <form autocomplete="off" ng-submit="vm.id ? vm.update() : vm.add()" name="vm.form" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    
                    <sup class="text-danger">*</sup>
                    <input type="text" class="form-control" name="country_name" required ng-model="vm.country_name" aria-describedby="emailHelp" placeholder="Enter Country Name" pattern="^[ a-zA-Z]*$">
                    <p class="error-msg" ng-if="vm.form.country_name.$error.required && vm.form.$submitted">Please enter name</p>
                    <p class="error-msg" ng-if="vm.form.country_name.$error.pattern && vm.form.$submitted">Please enter valid name</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Shortname</label>
                    <sup class="text-danger">*</sup>
                    <input type="text" class="form-control" name="country_sortname" required ng-model="vm.country_sortname" placeholder="Enter Sortname , Ex- IN" pattern="^[ a-zA-Z]*$">
                    <p class="error-msg" ng-if="vm.form.country_sortname.$error.required && vm.form.$submitted">Please enter shortname</p>
                    <p class="error-msg" ng-if="vm.form.country_sortname.$error.pattern && vm.form.$submitted">Please enter valid shortname</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Phonecode</label>
                    <sup class="text-danger">*</sup>
                    <input type="text" class="form-control" name="country_phonecode" required ng-model="vm.country_phonecode" placeholder="Enter Phonecode , Ex - 91" numbr-only>
                    <p class="error-msg" ng-if="vm.form.country_phonecode.$error.required && vm.form.$submitted">Please enter phonecode</p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Status</label>
                    <sup class="text-danger">*</sup>
                    <select name="status" required ng-options="option.name for option in vm.Status track by option.id" class="form-control" ng-selected="vm.status" ng-model="vm.status">
                        <option value="" style="display: none">Please select status</option>
                    </select>
                    <p class="error-msg" ng-if="vm.form.status.$error.required && vm.form.$submitted">Please select status</p>
                </div>
                <input type="hidden" ng-model="vm.id" />
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" ng-click="vm.cancel()" class="btn btn-secondary">Cancel</button>
            </form>
            
             </div>
        </div>
    </div>
       