<!-- Header -->
<header id="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-3 col-6 logo">
                <a ui-sref="app">
				<img width="200" src="assets/content/images/logo_color.png" alt="Logo" class="colorlogo"/>
				<img width="200" src="assets/content/images/logo.png" alt="Logo" class="whitelogo"/>
				</a>
            </div>
            <div class="col-6 d-xl-none text-right">
                <div id="mobileMenuTrigger" class="menu-trigger" data-target="#main-navigation">
                    <span class="first line"></span>
                    <span class="second line"></span>
                    <span class="third line"></span>
                </div>
            </div>
            <div class="col-xl-9 clearfix">
                <nav id="main-navigation" class="float-right-lg">
                    <ul class="nav-menu list-inline text-right">
                        <li><a ui-sref="trading">Trade</a></li>
                        <li><a  href="https://www.otcfuleex.io/" target="_blank">OTC</a></li>
                         <li><a href="http://fuleex.io/" target="_blank">About Us</a></li>
                           <li><a ui-sref="contact_us">Contact</a></li>
                        <li class="d-xl-none"><a ui-sref="login">Sign in</a></li>
                        <li class="d-xl-none"><a ui-sref="register">Register</a></li>
                    </ul>
                </nav>
            </div>
            <!--div class="col-xl-2 d-none d-xl-block clearfix pl-0">
                <ul class="header-user-panel clean-list pull-right">
                    <li><a ui-sref="login">Sign in</a></li>
                    <li><a ui-sref="register">Register</a></li>
                </ul>
            </div-->

        </div>
    </div>
</header>
<!-- Header -->