<div class="animated fadeIn">

    <h1 class="page-title">Change Password</h1>

     <div class="card">


       <div class="card-body">
        <form name="vm.changeForm" id="prof-frm" novalidate>
            <div class="widget-body">

                <input type="hidden" ng-model="vm.profile.id" />
                <div class="form row">
                    <div class="form-group col-sm-12">
                        <label for="currentPassword" >Current Password<sup class="text-danger">*</sup></label>
                        <input type={{vm.inputType}} class="form-control" name="currentPassword" placeholder=" Enter Current Password" required ng-model="vm.currentPassword" required maxlength="50" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}" title="Password should contain minimum 6 characters, at least one uppercase letter, one lowercase letter, one number and one special character(@$!%*?&#^)" autocomplete="off">
                        <p class="error-msg" ng-if="vm.changeForm.currentPassword.$error.pattern && vm.changeForm.$submitted">Password should contain minimum 6 characters, at least one uppercase letter, one lowercase letter, one number and one special character(@$!%*?&)</p>
                        <p class="error-msg" ng-if="vm.changeForm.currentPassword.$error.required && vm.changeForm.$submitted">Please enter current password</p>
                    </div>

                    <div class="form-group col-sm-12">
                        <label for="newPassword">New Password<sup class="text-danger">*</sup></label>
                        <input type={{vm.inputType}} class="form-control" name="newPassword" placeholder=" Enter New Password" required ng-model="vm.newPassword" required maxlength="50" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}" title="Password should contain minimum 6 characters, at least one uppercase letter, one lowercase letter, one number and one special character(@$!%*?&#^)" autocomplete="off">
                        <p class="error-msg" ng-if="vm.changeForm.newPassword.$error.pattern && vm.changeForm.$submitted">Password should contain minimum 6 characters, at least one uppercase letter, one lowercase letter, one number and one special character(@$!%*?&#^)</p>
                        <p class="error-msg" ng-if="vm.changeForm.newPassword.$error.required && vm.changeForm.$submitted">Please enter new password</p>
                    </div>
                    
                    <div class="form-group col-sm-12">
                        <label for="newPassword">2FA Code<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" name="verCode" placeholder=" Enter 2FA code from the app" required ng-model="vm.verCode"    autocomplete="off">
                        
                        <p class="error-msg" ng-if="vm.changeForm.verCode.$error.required && vm.changeForm.$submitted">Please enter new password.</p>
                    </div>


                    </div>

                        <input type="submit"  ng-click="vm.adminChangePassword()"class="btn btn-primary" value="Change Password" />
                    </div>
                </div>

            </div>
        </form>

         </div>
    </div>
</div>
